video:not(.background-video) {
    pointer-events: none; /* Disable user interactions */
  }
  
  video {
    touch-action: none; /* Prevent touch interactions */
    user-select: none;  /* Prevent text selection or drag on videos */
  }
  